body {
  background-color: #000000 !important;
}
.position-relative {
  z-index: 1;
}
.card img {
  -webkit-mask-image: linear-gradient(black 80%, transparent);
  mask-image: linear-gradient(black 80%, transparent);
}
.btn-cart {
  background-color: brown;
  color: white;
}
.btn-cart:hover {
  background-color: #000 !important;
  color: #fff !important;
}
.custom-card:hover img {
  transform: scale(1.1);
}

.custom-card img {
  transition: transform 0.3s ease-in-out;
}

.btn-primary {
  background-color: #1b1a20 !important;
  color: white;
  border: #1b1a20 !important;
}


.btn-primary:hover {
  border: none !important;
  opacity: 0.8 !important;
}


/* HEADER GENERAL */
.kks-header {
  background: white;
  border-bottom: 1px solid #eee;
  padding: 20px 0;
  position: sticky;
  top: 0;
  z-index: 999;
}

/* CONTENEDOR */
.header_mid_inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

/* LOGO */
.logo img {
  max-height: 100px;
}

/* REDES */
.social_wrap ul {
  display: flex;
  gap: 15px;
  list-style: none;
  padding: 0;
}

.social_wrap a {
  font-size: 22px;
  color: #e6002e;
  transition: 0.3s;
}
.social_wrap a:hover {
  transform: scale(1.2);
}


/* NAV */
.kks-nav ul {
  display: flex;
  gap: 30px;
  list-style: none;
}

.kks-nav a {
  text-decoration: none;
  font-weight: 600;
  color: #111;
  transition: 0.3s;
}
.kks-nav a:hover {
  color: #e6002e;
}
h1 {
  text-transform: uppercase;
  letter-spacing: 3px;
    font-family: "Mochiy Pop One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
    font-family: "RocknRoll One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.rocknroll-one-regular {
  font-family: "RocknRoll One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.mochiy-pop-one-regular {
  font-family: "Mochiy Pop One", sans-serif;
  font-weight: 400;
  font-style: normal;
}


/* RESPONSIVE */
@media (max-width: 768px) {
  .header_mid_inner {
    flex-direction: column;
    gap: 15px;
  }

  .kks-nav ul {
    gap: 15px;
  }
}


@keyframes swing {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(5deg);
  }
  to {
    transform: rotate(0);
  }
}

.offcanvas-header {
  background-color: #cecece !important;
}

.btn_shopping {
  background-color: #f3aacb !important;
  border: 1px solid #000000 !important;
}
.btn_shopping :hover {
  animation: swing 0.6s ease forwards;
  display: inline-block;
}
.fs-5 {
  font-size: 18px !important;
  color: #fff !important;
}
.fs-6 {
  font-size: 14px !important;
  color: #b3b3b3 !important;
}

.offcanvas {
  transition: transform 0.6s ease, opacity 0.6s ease;
}

.offcanvas.show {
  transform: translateX(0);
  opacity: 1;
}

.offcanvas:not(.show) {
  transform: translateX(100%);
  opacity: 0;
}



